.projects {
  position: relative;
  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 45px;
  }
  &__item {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 375px;
    box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    overflow: hidden;
    &-image {
      width: 100%;
      height: 260px;
      object-fit: cover;
    }
    &-text {
      flex: 1;
      padding: 15px 30px 25px 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &-title {
      margin-top: 10px;
      color: var(--black);
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
    }
    &-description {
      color: var(--text-dark);
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
    }
    &-stack {
      color: var(--heading-dark);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--black);
      svg {
        height: 20px;
        width: 20px;
      }
      a {
        color: var(--black);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-decoration: underline;
      }
    }
  }
  &__cloud {
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    top: 0;
    right: 100px;
    width: 300px;
    height: 300px;
    z-index: -1;
  }
}