.main {
  height: calc(100vh - var(--header-height));
  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 200px;
  }
  &__title {
    width: 100%;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
    letter-spacing: -1px;
    color: var(--heading-dark);
    &-name {
      background: linear-gradient(90deg, #D18B47 20%, #42446E 120%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__me {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}